sass_binary_site=http://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs/
chromedriver_cdnurl=http://npm.taobao.org/mirrors/chromedriver
electron_mirror=http://npm.taobao.org/mirrors/electron/
operadriver_cdnurl http://cdn.npm.taobao.org/dist/operadriver
registry=http://registry.npm.taobao.org
@aym:registry=http://192.168.4.28:4873
